<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <machineKey decryption="AES" decryptionKey="79E815EEC0FC15DD71CF553C7EFB626E5DECCB08D86DFBFF4089DC6EADF4CCEE" validation="HMACSHA256" validationKey="89C0F3F2B5A0BFD71A427244E5CFFC1C02AA1C2BD041AB7E6F3DE13F53DB942507353836F54AD68582ED7BDA830B7F0E43FE7A6CA91FB0F1572D37319AA67DF2"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms name="LoginForm" loginUrl="Login.aspx" timeout="10" slidingExpiration="false"/>
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="IndexPage.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService12" />
        <binding name="BasicHttpBinding_IService13" />
        <binding name="BasicHttpBinding_IService14" />
        <binding name="BasicHttpBinding_IService11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50188/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="LoginAndSignUp.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="http://neptune.fulton.ad.asu.edu/WSRepository/Services/ImageVerifierSvc/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ImageVerifierService.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://webstrar35.fulton.asu.edu/Page1/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
        contract="CreditCardService.IService1" name="BasicHttpBinding_IService12" />
      <endpoint address="http://webstrar35.fulton.asu.edu/Page2/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13"
        contract="OrderProcessingService.IService1" name="BasicHttpBinding_IService13" />
      <endpoint address="http://webstrar35.fulton.asu.edu/Page6/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService14"
        contract="SignUpAndAddressService.IService1" name="BasicHttpBinding_IService14" />
      <endpoint address="http://webstrar35.fulton.asu.edu/Page0/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
        contract="AddToCartService.IService1" name="BasicHttpBinding_IService11" />
    </client>
  </system.serviceModel>
</configuration>